*{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard{
    margin-top: 5rem;
    display: grid;
    height: 20rem;
    width: 20rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    color: white;
}

.board-square{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 3rem;
    font-family: Arial;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.board-square:first-child,
.board-square:nth-child(2),
.board-square:nth-child(3){
    border-top: none;
}
.board-square:first-child,
.board-square:nth-child(n-1){
    border-left: none;
}

.board-square:nth-child(3n + 1){
    border-left: none;
}
.board-square:nth-child(3n + 3){
    border-right: none;
}
.board-square:last-child,
.board-square:nth-child(7),
.board-square:nth-child(8){
    border-bottom: none;
}
.board-square:hover{
    background-color: lightgray;
    opacity: 70%;
}