*{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: grid;
    height: 20rem;
    width: 20rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);

}

.board-square{
    text-align: center;
    border: 1px solid red;
}