body{
    background-color: lightblue;
}

.inputPage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.player{
    color: white;
    height: 30vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid black;
}

.player.One{
    color: white;
    background-color: rgb(225, 7, 7);
    height: 30vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid black;
}

.player.Two{
    background-color: rgb(9, 164, 215);

}